.arrayContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.arrayBars {
  width: 5px;
  display: inline-block;
  margin: 0px 2px;
}

.toolbar {
  background-color: #34495e;
  color: white;
}
